#gotocomments-block {
  position: fixed;
  bottom: 0;
  height: 125px;
  width: 200px;
  background: rgba(255, 252, 229, 1);
  opacity: 1;
  text-align: center;
  box-shadow: rgb(100, 100, 100) 1px 1px 5px 1px;
  cursor: pointer;
}

#gotocomments-block.gotocomments-hidden {
  margin-left: -185px;
}

#gotocomments-counter {
  margin: 0 auto;
  width: 30px;
  padding: 3px;
  background: white;
  border-radius: 6px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.gotocomments-positive-counter {
  background: #E9FF91;
}

#gotocomments-wrapper {
  float: left;
  width: 180px;
  font-size: 0.9em;
}

#gotocomments-text {
  margin: 0 auto;
  width: 80%;
  margin-top: 5px;
}

#gotocomments-hide {
  width: 14px;
  background: white;
  height: 100%;
  float: right;
  border-left: 1px solid #ccc;
}

#gotocomments-arrow {
  margin-top: 60px;
  margin-left: 4px;
  width: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid red;
}

#gotocomments-block.gotocomments-hidden #gotocomments-arrow {
  border-right: 0;
  border-left: 6px solid red;
}
